body {
    color:blue;
    font-size: 14px;
    line-height: 1.5;

}

header {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
   padding-left: 40px;
   padding-right:40px;
    box-sizing:border-box; 
   text-align: center;
}

header h1{
    float: left;
}

header button{
    float: right;
    margin-top: 28px;
}